# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/packages/*/node_modules
/example/node_modules
/npm-debug.log*
/wc-bundler.log*
/yarn-error.log

# production
/dist
/es
/lib
/coverage
/packages/*/*es
/packages/*/*lib

# misc
.DS_Store
